body{
    border-top: 7px solid #1a1f26;
    color: #7e8287;
    margin: 0;
    position: relative;
}
.list{
    list-style-type: none;
}
.clearfix{
    clear: both;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
a{
    transition: all 0.25s;
}
a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 940px;
    padding: 0 15px;
    position: relative;
}
header{
    background: radial-gradient(rgba(255, 255, 255, 0.05) 48%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0, url("../img/header_bg.png");
    border-top: 1px solid #343d4b;
    padding-top: 45px;
    position: relative;
}
header::after {
  background: url("../img/light_line_header.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  right: 0;
}
.logo{
    color: #f1eee5;
    float: left;
    font-size: 34px;
    letter-spacing: -2px;
    line-height: 48px;
    font-weight: 800;
    padding-right: 10px;
    text-decoration: none;
}
.logo:hover,
.logo:focus{
    color: #f1eee5;
    text-decoration: none;
}
.logo_about{
    background: url("../img/logo_shape.png") no-repeat left center;
    color: #7a7c81;
    float: left;
    font: italic 11px/52px "georgia";
    padding-left: 5px;
}
nav{
    float: right;
}
nav ul li{
    display: inline;
    line-height: 48px;
    padding: 0 12px 20px 0;
}
nav ul li a{
    color: #f1eee5;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    padding: 7px 10px;
}
nav ul li a.dropdown-toggle{
    background: url("../img/drop_arrow_hover.png") no-repeat right 9px center;
    padding-right: 30px;
}
nav ul li a:hover,
nav ul li a:focus{
    color: #f1eee5;
    background: linear-gradient(#171717,#1a1a1a);
    border-radius: 5px;
    text-decoration: none;
}
nav ul li:hover .dropdown-menu{
    display: block;
}
nav ul li:hover a.dropdown-toggle{
    background: url("../img/drop_arrow.png") no-repeat right 9px center, linear-gradient(#171717,#1a1a1a);
    border-radius: 5px;
}
.drop{
    background: url("../img/dropdown.png");
    border-radius: 5px;
    margin: 0;
    max-width: 250px;
    min-width: 180px;
    padding: 0 13px 15px;
    top:100%;
}
.drop li{
    display: block;
    padding: 0;
}
.drop li+li{
    border-top:1px solid #0f0f0f;
}
.drop li+li a{
    border-top: 1px solid #262626;
}
.drop li a{
    background: none;
    color: #f1eee5;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 0;
    white-space: normal;
}
.drop li a:hover,
.second_menu .drop li a:hover,
.second_menu li:hover{
    background: none;
    color: #f1eee5;
}
.drop_second{
    border: 1px solid #bbbbbb;
    left: 100%;
    top: 0;
}
li ul.drop li a.dropdown-toggle{
    background: url("../img/drop_arrow_right_hover.png") no-repeat right center;
}
li ul.drop li:hover a.dropdown-toggle{
    background: url("../img/drop_arrow_right.png") no-repeat right center;
    padding-left: 15px;
}
li ul.drop li .drop_second{
    display: none;
}
li ul.drop li.dropdown:hover .drop_second{
    display: block;
}
.drop_second li a:hover{
    padding-left: 15px;
}
.top_header{
    margin-bottom: 50px;
}
h1{
    color: #f1eee5;
    font: italic 26px/30px "Georgia";
    margin-bottom: 25px;
    text-align: center;
}
h2{
    color: #6b96a8;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.light_line{
    bottom: 0;
    background: url("../img/light_line_header.png");
    height: 10px;
    position: absolute;
    width: 100%;
}
.popup_wrapper,
.footer_wrapper{
    background: url("../img/popup_wrapper.png");
    padding-top: 30px;
    position: relative;
}
.popup_wrapper .popup_line,
.main .main_line,
footer .popup_line{
    background: url("../img/btm_dark_popup.png");
    height: 15px;
    position: absolute;
    top:0;
    width: 100%;
}
.popup_wrapper .btm,
footer .btm{
    top: 91%;
}
.main_line.btm{
    top: 99.1%;
}
.square{
    background-color: #d0d0d0;
    float: left;
    height: 56px;
    position: relative;
    width: 56px;
}
.popup_btn{
    background: url("../img/popup_btn.png");
    height: 0;
    overflow: hidden;
    padding-top: 33px;
    position: absolute;
    top:-12px;
    width: 35px;
}
.popup_wrapper .popup_btn{
    left: -14px;
}
.title{
    color: #f1eee5;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    padding-bottom: 5px;
}
.about{
    color: #979797;
    font-size: 12px;
    line-height: 17px;
}
.popup_wrapper .col-md-9,
.popup_wrapper .col-md-3,
.posts_and_testimonials .col-md-3,
.posts_and_testimonials .col-md-9{
    padding: 0 7px;
}
.popup_wrapper .col-md-4 .row{
    padding-bottom: 20px;
}
.col-md-4.right .about{
    margin-bottom: 20px;
}
.btn{                                                               /* Background is bad, ask how to make a good*/
    background: url("../img/btn_bg.png");
    border-radius: 50px;
    color: #252525;
    font: italic 12px/20px "georgia";
    margin-right: 4px;
    padding: 9px 25px;
    text-decoration: none;
}
.btn:active{
    background: url("../img/btn_bg.png");
}
.main{
    background: url("../img/main_bg.png");
    padding-top: 45px;
    position: relative;
}
.main .main_line{
    background: url("../img/main_bg_line.png");
    height: 8px;
}
.main .title{
    color: #333;
    padding-bottom: 25px;
}
.main .about{
    color: #444;
    padding-bottom: 25px;
}
.img_with_popup{
    background: url("../img/opiton_img.png");
    box-shadow: 0 0 5px #dddbd7;
    height: 110px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}
.img_overlay{
    box-shadow: 0 0 0 8px rgba(29,29,29,0.03) inset ;
    height: 110px;
    position: absolute;
    top:0;
    width: 100%;
}
.main .popup_btn{
    right: -15px;
}
.caption{
    background: url("../img/caption_bg.png");
    border-radius: 5px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #e5e2d9;
    color: #888888;
    font: italic 11px/20px "Georgia";
    margin-bottom: 25px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.widgets{
    background: url("../img/widgets_bg.png");
}
.logo_popup{
    background: url("../img/logo_bg.png");
    height: 100%;
    text-align: center;
}
.logo_popup .logo{
    float: none;
    padding-top: 68px;
}
.logo_popup .logo+div{
    color: #6b96a8;
    font: italic 11px/14px "Georgia";
    padding-bottom: 70px;
}
.row_popup{
    margin-bottom: 25px;
}
.banner{
    background: url("../img/banner_bg.png");
    border: 1px solid #d1cec5;
    border-radius: 5px;
    margin-bottom: 55px;
    padding: 20px 25px;
}
.banner h2{
    color: #444444;
    font-style: italic;
    line-height: 20px;
    margin: 0;
    padding-bottom: 5px;
    text-align: left;
}
.banner div,
.post,
.twitter,
.testimonial_col,
footer{
    color: #444444;
    font-size: 12px;
    line-height: 20px;
}
.banner .btn{
    box-shadow: 0 0 0 4px #eeeeee;
    float: right;
}
.posts li{
    border-bottom: 1px solid #fefdfd;
    padding: 0 15px;
}
.posts li .post_wrapper{
    border-bottom: 1px solid #e4e1d9;
}
.posts li+li .post_wrapper{
    padding-top: 20px;
}
.left_side{
    float: left;
}
.left_col{
    float: left;
    margin-right: 4%;
    width: 20%;
}
.right_col{
    float: left;
    width: 76%;
}
.post_icon{
    background-color: #111;
    border: 1px solid #dcdad6;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 55px;
    width: 55px;
}
.date_commnents,
.testimonial{
    color: #888;
    font-size: 11px;
    font-style: italic;
    line-height: 20px;
}
.date_commnents a{
    color: #444;
}
.post_wrapper{
    padding-bottom: 20px;
}
.twitter a{
    color: #444444;
}
a.twit{
    color: #5597b2;
    display: inline;
    padding-bottom: 3px;
    border-bottom: 1px solid #cbc7bd;
}
.testimonial{
    color: #444;
    font-size: 12px;
    padding-bottom: 20px;
}
.testimonial_col li .post_wrapper,
.testimonial_col li{
    border: none;
}
.posts_and_testimonials{
    margin-bottom: 65px;
}
footer{
    color: #979797;
}
.footer_wrapper{
    padding-bottom: 30px;
}
footer .title{
    padding-bottom: 10px;
}
footer div+div{
    padding-bottom: 20px;
}
footer .col-md-8 div a{
    color: #f1eee5;
    padding-right: 15px;
}
form{
    position: relative;
}
footer form{
    background-color: #101010;
    border-radius: 5px;
    border-top: 1px solid #040404 ;
    border-bottom: 1px solid #2a2a2a;
    padding: 10px 100px 10px 10px;
    width: 100%;
}
footer input{
    background: none;
    border: 0;
    width: 180px;
}
footer button{
    background: linear-gradient(#f3f3f3,#cecece);
    border: none;
    border-radius: 5px;
    color: #4a4a4a;
    font-weight: bold;
    padding: 7px 10px;
    position: absolute;
    top:3px;
    right: 5px;
}
footer .copyrights{
    background-color: #0d0d0d;
    color: #626262;
    font-weight: bold;
    padding: 15px 0;
}
footer .copyrights a{
    color: #989898;
}
footer .copyrights .container{
    float: none;
    width: 100%;
}
footer .copyrights div{
    float: left;
    width: 50%;
}
footer .copyrights div+div{
    float: right;
    text-align: right;
    padding-bottom: 0;
}
footer .last{
    color: #cccccc;
}
.popup_wrap {
    display: none;
    height: auto;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}
.show-popup.popup_wrap {
    display: block;
}

.pay,
.continue,
.login{
    z-index: 999;
}
.pay{
    background-color: #e9e8e8;
    border-radius: 5px;
    height: 370px;
    margin: 17% auto 14%;
    padding: 30px 0 0 30px;
    position: relative;
    width: 670px;
}
.pay .left{
    float: left;
    padding-bottom: 30px;
    position: relative;
    width: 63%;
}
.pay .right{
    background: url("../img/secure.png") no-repeat 0 164px;
    float: right;
    padding-bottom: 300px;
    width: 33%;
}
.pay .counter{
    background-color: #dcdcdc;
    border: 1px solid #ccc8c8;
    border-radius: 5px;
    margin: 15px 40px 15px 20px;
    padding: 10px 15px;
}
.pay .counter .title{
    background: url("../img/count.png") no-repeat;
    border-radius: 5px;
    padding: 10px 10px 10px 90px;
}
.pay .left .sum{
    padding:0 0 15px 30px;
}
.pay .left form{
    position: relative;
}
.pay .left .credit,
.log_in,
.contacts .main .left .fields{
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #9d9d9d;
    font:21px/23px "Colaborate-Light",sans-serif;
    margin: 15px 0 15px 20px;
    padding: 10px 125px 10px 15px;
    width: 345px;
}
.popup_wrap .input_btn{
    background-image: linear-gradient(#3f404e, #2d2d3d);
    border: 1px solid #9a9ba4;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font: 19px/23px "Colaborate-Light",sans-serif;
    padding: 6px 15px;
    position: absolute;
    right: 10%;
    top: 24%;
}
.pay .left .inform{
    background: url("../img/inform.png") no-repeat left center;
    margin-left: 20px;
    padding-left: 40px;
}
.pay .left:after,
.contacts .main .left:after,
.web .main .left:after{
    background-color: #b3abab;
    content: "";
    height: 305px;
    position: absolute;
    right: 2%;
    top: -3%;
    width: 1px;
}
.pay .right .title{
    background: url("../img/paypal.png") no-repeat left center;
    padding:0 0 5px 70px;
}
.login,
.continue{
    background: url("../img/secure_login.png") no-repeat right top #e9e8e8;
    border-radius: 5px;
    margin: 11% auto;
    padding: 25px 0 55px 50px;
    position: relative;
    width: 400px;
}
.login .title{
    padding-bottom: 25px;
}
.login .log_in{
    font-size: 17px;
    margin: 0 0 15px;
    padding: 6px 15px;
    width: 290px;
}
.login .lost{
    float: left;
    text-decoration: none;
}
.login .input_btn,
.continue .input_btn{
    position: relative;
    float: right;
    margin-right: 25px;
}
.continue{
    background: none #e9e8e8;
    margin-bottom: 0;
    padding: 20px 0 15px 50px;
    top:100%;
}
.continue .title{
    font-size: 21px;
    line-height: 23px;
}
.continue .input_btn{
    float: left;
    top:0;
    right: 0;
    margin-top: 10px;
    text-decoration: none;
    width: 95px;
}
.continue .input_btn .yes{
    background: url("../img/yes.png") no-repeat;
    padding-left: 35px;
}
.continue .input_btn .no{
    background: url("../img/no.png") no-repeat;
    padding-left: 35px;
}
.popup_bg {
    background: none repeat scroll 0 0 #000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 601;
}
.show-popup.popup_bg {
    display: block;
}
/*Contact*/
.contacts .main .left,
.contacts .main .right,
.web .main .left,
.web .main .right{
    float: left;
    width: 50%;
}
.contacts .main .left{
    padding: 25px 35px 200px 15px;
    position: relative;
}
.contacts .main .right,
.web .main .right{
    padding: 25px 0 0 40px;
}
.contacts .main .left:after,
.web .main .left:after{
    background-color: #d7d6d7;
    height: 490px;
    top:2%;
    right: 0%;
}
.contacts .main .left .fields{
    padding: 10px 30px;
    margin:0 0 25px;
}
.contacts .main .left .fields.big{
    padding: 15px 30px 35px;
}
.contacts .main .left .btn,
.web .main .left .btn{
    cursor: pointer;
    float: right;
    padding: 7px 35px;
}
.contacts .main .right .wrap{
    background-color: #ebedf0;
    border-radius: 5px;
    border: 1px solid #d6d7d9;
    color: #9d9d9d;
    font-size: 17px;
    line-height: 23px;
    padding: 5px 30px 30px 30px;
    position: relative;
}
.contacts .main .right .wrap:after{
    border-left: 90px solid transparent;
    border-right: 200px solid #ebedf0;
    border-top: 20px solid transparent;
    bottom: -65%;
    content: "";
    left: -9%;
    position: absolute;
    transform: rotate(247deg);
    z-index: 1;
}
.contacts .main .right .wrap div:first-child{
    color: #878585;
    font-size: 21px;
    padding: 0 0 5px 0;
}
.contacts .main .right .wrap div{
    padding-left: 8px;
}
.contacts .main .right .wrap div.email{
    padding-left: 50px;
}







/*** Overall MovingBoxes Slider ***/
.mb-wrapper {
    position: relative;
}

/* Panel Wrapper */
.mb-slider, .mb-scroll {
    width: 100%;
    height: 300px!important;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;

    /***(>'-')> Control Panel Font size here <('-'<)***/
    font-size: 18px;
}

/* active slider border highlight */
.mb-active-slider {
    border-color: #333;
}

/*** Slider panel ***/
.mb-slider .mb-panel {
    margin: 0;
    padding: 25px 0 0;
    display: block;
    cursor: pointer;
    float: left;
    list-style: none;
    overflow: hidden;
    z-index: -1;
}
.current .mb-inside{
    z-index: 1;
}
.mb-inside{
    margin-left: -20px;
    z-index: -1;
}
/* Cursor to arrow over current panel, pointer for all others,
change .current class name using plugin option, currentPanel : 'current' */
.mb-slider .mb-panel.current {
    cursor: auto;
}

/*** Inside the panel ***/

/*** Left & Right Navigation Arrows ***/
a.mb-scrollButtons {
    display: block;
    width: 20px;
    height: 58px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    border: 0;
}
a.mb-scrollButtons.mb-left {
    background: url("../img/slider_left_arrow.png") no-repeat;
    left: -45px;
}
a.mb-scrollButtons.mb-right {
    background: url("../img/slider_right_arrow.png") no-repeat;
    right: -45px;
}
a.mb-scrollButtons.disabled {
    display: none;
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* Panel images */
.mb-inside img { width: 100%; }

/* height of the placeholder until image completely loads - needed for
   webkit browsers, add this only if you don't want the height animation
   on startup. 326px measures the height of the current image when enlarged
*/
#slider-two .current img { /* height: 326px; */ }

/* Panel links */
.mb-inside a { color: #333; text-decoration: none; border-bottom: 1px dotted #ccc; }
.mb-inside a:hover { border-bottom: 1px solid #999; }

/* Add/remove panels buttons */
.buttons { padding: 5px 10px; text-align: center; }

/* Direct link styling */
.dlinks {
    text-align: center;
    margin: 0 0 20px 0;
}
.dlinks * {
    vertical-align: middle;
}
.mb-controls{
    display: none;
}
.mb-panel.current{
    height: 400px!important;
    overflow: visible;
    padding-top: 0;
    width: 460px!important;
    z-index: 999!important;
}
.popup_wrapper .container .row{
    padding-bottom: 20px;
}
.continue .title,
.pay .title,
.login .title{
    color: #707070;
    font-size: 23px;
    line-height: 24px;
    text-align: left;
}
.square,
.post_icon{
    width: 90%;
}
.testimonial_col li{
    padding: 0;
}